.host {
  background-color: #8C2703;
  margin: 0;
  border-bottom: 6px solid #260101;
}

@media (max-width:900px) {

  section {
    height: 40px;
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    display: grid;
    grid-template: auto;
  }

  ul {
    display: none;
  }

  .social {
    object-fit: cover;
    text-align: center;
  }

  .social a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #8C2703;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }

  .social a:hover {
    opacity: 0.9;
    background: #F2AA52;
  }

  .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #F2F0F0;
  }
  }


@media (min-width:900px){
section {
  height: 140px;
  width: 100%;
  padding: 0px;
  padding-top: 10px;
  display: grid;
  grid-template: auto /1fr 1fr 1fr;
}

ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  gap: 4px;
}

ul a {
  padding-right: 33px;
  opacity: 0.7;
  color: #dfdfdf;
}

ul a:hover {
  opacity: 1;
}

.social {
  object-fit: cover;
  text-align: left;
}

.social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #8C2703;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.social a:hover {
  opacity: 0.9;
  background: #F2AA52;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: white;
}
}
