<section>
  <div class="edge"></div>
  <header>
    <h2>S O B R E</h2>
    <h1>M I M</h1>
  </header>
  <mat-divider></mat-divider>
  <body>
    <div>
      <div class="photomobile">
        <img src="/assets/img/FotoYuji.png" width="200" height="250">
      </div>
      <div class="description">
        <p>
          Meu nome é Douglas Yuji Yabuki, tenho 29 anos e cresci em Guarapuava - PR. Moro em Curitiba
          desde os 15 anos de idade.
          Tive uma educação familiar típica de japoneses. Aos 5 anos, aprendi a jogar xadrez e, aos 7, já
          participava de torneios na categoria adulta.
          Desde pequeno sou apaixonado por jogos de estratégia e desafios de raciocínio lógico.
        </p>
      </div>
    </div>
  </body>
  <div class="edge"></div>
</section>
