
@media (max-width:600px) {
  section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #8C2703;
    min-width: 300px;
    width: 90%;
    margin: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 1px;
    color: #F2F0F0;
    background-color: #260101;
    border-radius: 16px;
  }

  body {
    min-width: 300px;
    padding-top: 5px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #8C2703;
    grid-template: 1fr 1fr;
    display: flex;
    flex-direction: column;

    .container {
      width: 250px;
      height:300px;
      object-fit: cover;
      padding: 0px;
    }

    .text {
      padding-left: 5px;
      padding-right: 5px;
    }

  }
}

@media (min-width:601px) {
  section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #8C2703;
    width: 60%;
    min-width: 550px;
    max-width: 600px;
    margin: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 1px;
    color: white;
    background-color: #260101;
    border-radius: 16px;
  }

  body {
    min-width: 300px;
    padding-top: 5px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #8C2703;

    p {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .container {
    object-fit: cover;
    max-width: 200px;
    padding: 0px;
  }
}
