<section>
  <header>
    <h1> SOBRE MIM </h1>
  </header>

  <body>
    <div class="container">
      <img src="/assets/img/FotoYuji.png" width="200" height="250" />
    </div>
    <p>
      Meu nome é Douglas Yuji Yabuki, tenho 29 anos e cresci em Guarapuava - PR. Moro em Curitiba
      desde os 15 anos de idade.
      Tive uma educação familiar típica de japoneses. Aos 5 anos, aprendi a jogar xadrez e, aos 7, já
      participava de torneios na categoria adulta.
      Desde pequeno sou apaixonado por jogos de estratégia e desafios de raciocínio lógico.
    </p>
  </body>


</section>
