@media (max-width:600px) {
  section {
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #262626;
    width: 90%;
    min-width: 200px;
    max-width: 300px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 1px;
    color: #D9D8D7;
    background-color: #2C403C;
    border-radius: 16px;
  }

  body {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #D9D8D7;
    background-color: #262626;
  }

  .social {
    object-fit: cover;
    text-align: left;
  }

  .social a {
    width: 200px;
    height: 200px;
    line-height: 200px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #2C403C;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }

  .social a :hover {
    background-color: #D9D8D7;
    border-radius: 50%;
    opacity: 1;
  }
}

@media (min-width:601px) {
  section {
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #262626;
    width: 60%;
    max-width: 600px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 1px;
    color: #D9D8D7;
    background-color: #2C403C;
    border-radius: 16px;
  }

  body {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #D9D8D7;
    background-color: #262626;
  }

  .social {
    object-fit: cover;
    text-align: left;
  }

  .social a {
    width: 200px;
    height: 200px;
    line-height: 200px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #2C403C;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }

  .social a :hover {
    background-color: #D9D8D7;
    border-radius: 50%;
    opacity: 1;
  }
}
