@media (max-width:600px) {

  @mixin boxInfo {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 1px;
    border-radius: 5px;
  }

  section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #590902;
    min-width: 300px;
    width: 90%;
    margin: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1px;
    color: #F2F2F2;
    background-color: #400101;
    border-radius: 16px;
  }

  body {
    color: #F2F2F2;
    background-color: #590902;
  }

  label {
    display: block;
    color: #F2F2F2;

    input {
      @include boxInfo();
      min-height: 20px;
    }

    textarea {
      @include boxInfo();
      min-height: 60px;
    }

    .error {
      margin-top: -20px;
      background: #8C5642;
      padding: 8px;
      display: inline-block;
      font-size: 14px;
      margin-bottom: 20px;
      border-radius: 5px;
    }
  }

  .cta {
    background: #400101;
    border: none;
    color: #F2F2F2;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
    font-family: 'Calibri Light';
  }

  .results {
    margin-top: 50px;

    strong {
      display: block;
    }

    span {
      margin-bottom: 20px;
      display: block;
    }
  }
}

@media (min-width:600px) {

  @mixin boxInfo {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 1px;
    border-radius: 5px;
  }

  section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #590902;
    width: 60%;
    min-width: 550px;
    max-width: 600px;
    margin: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1px;
    color: #F2F2F2;
    background-color: #400101;
    border-radius: 16px;
  }

  body {
    color: #F2F2F2;
    background-color: #590902;
  }

  label {
    display: block;
    color: #F2F2F2;

    input {
      @include boxInfo();
      min-height: 20px;
    }

    textarea {
      @include boxInfo();
      min-height: 60px;
    }

    .error {
      margin-top: -20px;
      background: #8C5642;
      padding: 8px;
      display: inline-block;
      font-size: 14px;
      margin-bottom: 20px;
      border-radius: 5px;
    }
  }

  .cta {
    background: #400101;
    border: none;
    color: #F2F2F2;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
    font-family: 'Calibri Light';
  }

  .results {
    margin-top: 50px;

    strong {
      display: block;
    }

    span {
      margin-bottom: 20px;
      display: block;
    }
  }
}
