<section>
  <div class="edge"></div>
  <header>
    <h2>E N T R E</h2>
    <h2>E M</h2>
    <h2>C O N T A T O</h2>
    <h1>C O M I G O</h1>
  </header>

  <mat-divider></mat-divider>

  <body>

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

      <h5 *ngIf="success">Sua mensagem foi enviada com sucesso!</h5>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Nome completo:</mat-label>
        <input matInput placeholder="" formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>E-mail:</mat-label>
        <input matInput placeholder="" formControlName="email" required>
      </mat-form-field>

      <!-- <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
          <div *ngIf="messageForm.controls.email.errors.required">O campo E-mail não pode estar vazio!</div>
        </div> -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Mensagem</mat-label>
        <textarea matInput placeholder="" formControlName="message" required></textarea>
      </mat-form-field>
      <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
          <div *ngIf="messageForm.controls.message.errors.required">O Campo mensagem não pode estar vazio!</div>
        </div> -->

      <div class="fieldButtons">
        <button mat-raised-button class="cta" type="submit" value="Enviar Mensagem">Enviar</button>
      </div>
    </form>
  </body>
  <div class="edge"></div>
</section>
