<section>
  <header>
    <h1>Douglas Yuji Yabuki</h1>
    <div class="social">
      <a href="https://api.whatsapp.com/send?phone=5541999530599" target="_blank"><img src="/assets/img/whatsapp.png"
          width="20" height="20" /></a>
      <a href="https://www.linkedin.com/in/douglas-yabuki/" target="_blank"><img src="/assets/img/linkedin.png"
          width="20" height="20" /></a>
      <a href="https://github.com/douglasyabuki/" target="_blank"><img src="/assets/img/github.png" width="20"
          height="20" /></a>
      <a href="mailto:douglasyabuki@gmail.com" target="_blank"><img src="/assets/img/mail.png" width="20"
          height="20" /></a>
    </div>
  </header>

  <body>
    <h2>OBJETIVO</h2>
    <p>
      Busco oportunidades de crescimento profissional na área de TI, com foco em
      Desenvolvimento de Softwares e Automatização de Processos. Compenso o
      curto período de experiência com dedicação, rápido aprendizado e
      habilidades intra e interpessoais.
    </p>

    <h2>EDUCAÇÃO</h2>
    <h3>UNIVERSIDADE FEDERAL DO PARANÁ, Curitiba – (Concluída em 2018)</h3>
    <p>Graduação em Engenharia Civil.</p>
    <h3>UNINTER, Curitiba – (Cursando – Término em 07/2023)</h3>
    <p>Tecnólogo em Análise e Desenvolvimento de Sistemas.</p>

    <h2>EDUCAÇÃO COMPLEMENTAR</h2>
    <h3>UDEMY - Treinamentos Autorizados</h3>
    <p>
      Curso de Hardware; Software; Rede; Banco de dados; PowerBI; ScrumMaster;
      Java; Portugol; C.
    </p>
    <h3>TKS, Curitiba - Treinamentos Autorizados</h3>
    <p>AutoCAD 2D e 3D; Revit Architecture; MS Project; MS Excel avançado.</p>
    <h3>Escola Conquer - Treinamentos Autorizados</h3>
    <p>Curso de Inteligência Financeira; Curso de Inteligência Emocional.</p>
    <h3>Vancouver Enligh Centre, Vancouver - Escola de inglês</h3>
    <p>Curso de Inglês Fluente.</p>
    <h3>Celin, Curitiba - Escola de línguas</h3>
    <p>Cursos de francês e japonês intermediários.</p>

    <h2>EXPERIÊNCIA PROFISSIONAL</h2>
    <h3>
      ILAPEO, Curitiba – Técnico de Informática – (Junho de 2021 – Julho de
      2022)
    </h3>
    <p>
      Instalações e manutenções de hardwares e softwares; análise de sistemas
      ERP (Totvs – RM, EasyDental, Sidexis4, Ábaris); geração de relatórios via
      SQL; suporte ao usuário; definição de fluxos, manuais e treinamentos para
      outros setores; gestão de acessos; controle de e-mail, câmeras e
      telefonia.
    </p>
    <h3>
      LOKA’S BAR E CONVENIÊNCIA, Curitiba – Chef de Bar (Novembro de 2019 – Maio
      de 2021)
    </h3>
    <p>
      Desenvolvimento de sistema de controle de estoque (Excel); gestão de
      pessoas.
    </p>
    <h3>
      SEMENTES YABUKI, Guarapuava – Administrador (Abril de 2018 – Setembro de
      2019)
    </h3>
    <p>
      Desenvolvimento e modelagem de sistema de controle de gastos, estoque e
      folha de pagamento (Excel); gestão de pessoas.
    </p>

    <h2>HABILIDADES</h2>
    <ul>
      <li>Java</li>
      <li>Java(POO)</li>
      <li>C</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Angular</li>
      <li>SCRUM</li>
      <li>SQL Server</li>
      <li>Power BI</li>
      <li>Windows 10</li>
      <li>Office 365</li>
      <li>Totvs RM</li>
      <li>Ábaris</li>
      <li>Intelbras SIM Next</li>
      <li>Elastix</li>
      <li>PFsense</li>
      <li>Revit Architecture</li>
      <li>AutoCAD</li>
      <li>Microsoft Project</li>
      <li>Adobe InDesign</li>
      <li>Definição de fluxos</li>
      <li>Suporte ao usuário</li>
      <li>Geração de manuais</li>
      <li>Suporte técnico</li>
      <li>Atendimento ao cliente</li>
    </ul>

    <h2>PROJETOS SOCIAIS</h2>
    <p>Reestruturação de ERP para Instituto de Ensino;</p>
    <p>Campanha de cadastro de doadores de medula óssea; </p>
    <p>Artigo Universitário sobre Construções Sustentáveis para média e baixa renda. </p>

    <h2>IDIOMAS</h2>
      <p><b>Português - </b>Nativo</p>
      <p><b>Inglês - </b>Fluente</p>
      <p><b>Francês - </b>Intermediário</p>
      <p><b>Japonês - </b>Intermediário</p>
      <p><b>Espanhol - </b>Básico</p>

    <h2>INFORMAÇÕES PESSOAIS E CONTATO</h2>
      <p><b>Nome - </b>Douglas Yuji Yabuki</p>
      <p><b>Data de Nascimento - </b>26/07/1993</p>
      <p><b>Endereço - </b>Rua Coronel Dulcidio, 1080, Curitiba, Paraná</p>
      <p><b>Celular - </b>(41)99953-0599</p>
      <p><b>E-mail - </b>douglasyabuki@gmail.com</p>
      <p><b>Linkedin - </b>linkedin.com/in/douglas-yabuki</p>
      <p><b>GitHub - </b>github.com/douglasyabuki</p>
  </body>
</section>
