@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  font-family: 'Josefin Sans';
  text-decoration: none;
}

body {
  background-color: #E6DDD6;
  margin: 0px auto;
}
h1{
  font-weight: 600;
}

h2{
  font-weight: 400;
}

p{
  font-weight: 200;
}

html, body { height: 100%; }
