<section>
  <div class="edge"></div>
  <header>
    <h2>M E U</h2>
    <h1>P O R T F Ó L I O</h1>
  </header>

  <body>
    <div>
      <div class="photomobile">
        <img src="./assets/img/homemobile.jpg">
      </div>
      <div class="description">
        <p>O presente site é uma introdução à minha carreira como desenvolvedor.
          Nele, coloco em prática conhecimentos em Angular, Typescript, HTML e CSS na forma de um portfólio.
          Para navegar pelo site, utilize o menu acima.</p>
      </div>
    </div>
  </body>
  <div class="edge"></div>
</section>
