@media (max-width:600px) {

  section {
    margin: auto;
    width: 90%;
    min-width: 250px;
    max-width: 300px;
    padding: 16px;
    border-radius: 16px;
    background-color: #590902;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 1px;
    color: #F2F2F2;
    background-color: #400101;
    border-radius: 16px;
  }

  body {
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    background-color: #590902;
  }
}

@media (min-width:600px) {
  section {
    margin: auto;
    width: 60%;
    max-width: 600px;
    padding: 16px;
    border-radius: 16px;
    background-color: #590902;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 1px;
    color: #F2F2F2;
    background-color: #400101;
    border-radius: 16px;
  }

  body {
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    background-color: #590902;
  }
}
