section {
  min-width: 300px;
  width: 60%;
  padding: 16px;
  display: block;
  border-radius: 16px;
  background-color: #262626;
  max-width: 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 1px;
  color: white;
  background-color: #3B4B59;
  border-radius: 16px;
}

body {
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #262626;
}





